body h5{
    font-size:12px;
    color:black;
}

#label{
font-size:14px;
color:black;
}

.card-header{
    padding-top:0;
    padding-bottom:0;
}

#card1 .input1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

#row1 {
    height: 500px;
    width: 100%;
}

.child1 {
    padding-bottom: 90px;
}

.child2 {
    padding-top: 90px;
}
